@import 'shared/vars.scss';

.btn {
  @mixin makeTheme($color) {
    background-color: $color;

    &:hover {
      background-color: darken($color, 5);
    }

    &:active {
      background-color: darken($color, 10);
    }
  }

  border: none;
  padding: 0 30px;

  text-align: center;
  line-height: 40px;
  color: #fff;

  background-color: transparent;
  border-radius: $bdrds;
  cursor: pointer;

  transition: background-color .3s;

  &_primary {
    @include makeTheme($color-2);
  }

  &_danger {
    @include makeTheme($color-3);
  }
}
