.header {
  background: #eee;
  height: 60px;

  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__nav {
    display: flex;
  }

  &__logout {
    align-self: center;
  }
}
