@import 'shared/_vars';

.label {
  display: block;

  &__text {
    display: block;
    margin-bottom: 5px;

    font-size: 14px;
  }

  &__error {
    display: block;
    margin-top: 5px;

    font-size: 14px;
    color: $color-3;
  }
}
